body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background: red;
    padding: 15px 60px;
    color:#fff;
    margin: 20px 50px;
    border: 0;
    border-radius: 10px;
    font-family: 18px;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
button:hover{
    background: mediumorchid;
}